<template name="footer">
    <div class="footer fixed">
        <div class="pull-right">
            Все права защищены
        </div>
        <div>
            UNITED &copy; 2016
        </div>
    </div>
</template>
