<template name="footer">

    <div class="footer fixed">
        <div class="pull-right">
            By F6CF.
        </div>
        <div>
             <strong>Все права защищены</strong> UNITED &copy; 2016
        </div>
    </div>

</template>
